{% extends 'base.html.twig' %}

{% block title %}Cards index{% endblock %}

{% block body %}
{% include('/menu.php') %}

    <h1>Index des cartes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for card in cards %}
            <tr>
                <td>{{ card.id }}</td>
                <td>{{ card.Type }}</td>
                <td>{{ card.Image }}</td>
                <td>
                    <a href="{{ path('cards_show', {'id': card.id}) }}">Voir</a>
                    <a href="{{ path('cards_edit', {'id': card.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cards_new') }}">Créer des nouvelles cartes</a>
{% endblock %}
