{% extends 'base.html.twig' %}

{% block title %}ImageCards Index{% endblock %}

{% block body %}
{% include('/menu.php') %}

    <h1>Index des Images</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image_card in image_cards %}
            <tr>
                <td>{{ image_card.id }}</td>
                <td>{{ image_card.Image }}</td>
                <td>
                    <a href="{{ path('image_cards_show', {'id': image_card.id}) }}">Voir</a>
                    <a href="{{ path('image_cards_edit', {'id': image_card.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('image_cards_new') }}">Créer une nouvelle image</a>
{% endblock %}
