{% extends 'base.html.twig' %}

{% block title %}User Index{% endblock %}

{% block body %}
{% include('/menu.php') %}

    <h1>Index Utilisateur</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Mot de passe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.Name }}</td>
                <td>{{ user.FirstName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <a class="message" href="{{ path('user_show', {'id': user.id}) }}">  Voir</a>
                    <a class="message" href="{{ path('user_edit', {'id': user.id}) }}">  Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="message" href="{{ path('user_new') }}">Créer un nouvel utilisateur</a>
{% endblock %}
